beautifulsoup4==4.10.0
chardet==4.0.0
charset-normalizer==2.0.12
datareader==0.0.9
Django==4.0.4
django-pandas==0.6.6
hyperlink==21.0.0
importlib-metadata==4.11.3
keras==2.8.0
Keras-Preprocessing==1.1.2
matplotlib==3.5.2
newsapi-python==0.2.6
numpy==1.22.3
pandas==1.4.2
pandas-datareader==0.10.0
plotly==5.8.0
scipy==1.8.0
Scrapy==2.6.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
yfinance==0.1.70
